In [1]:
%config IPCompleter.greedy=True
import pandas as pd
import numpy as np

In [3]:
accident_data_2017 = pd.read_csv('accident_2017.csv')
print(accident_data_2017.shape)
accident_data_2017.head()

(34247, 52)

,STATE,ST_CASE,VE_TOTAL,VE_FORMS,PVH_INVL,PEDS,PERNOTMVIT,PERMVIT,PERSONS,COUNTY,...,NOT_MIN,ARR_HOUR,ARR_MIN,HOSP_HR,HOSP_MN,CF1,CF2,CF3,FATALS,DRUNK_DR
0,1,10001,1,1,0,0,0,1,1,73,...,99,99,99,88,88,0,0,0,1,0
1,1,10002,1,1,0,0,0,1,1,89,...,0,15,9,88,88,0,0,0,1,0
2,1,10003,3,3,0,0,0,3,3,101,...,99,99,99,88,88,0,0,0,1,0
3,1,10004,1,1,0,0,0,1,1,73,...,99,16,58,88,88,20,0,0,1,0
4,1,10005,1,1,0,0,0,2,2,13,...,17,20,31,21,11,0,0,0,1,0

In [4]:
accident_data_2017.columns

Index(['STATE', 'ST_CASE', 'VE_TOTAL', 'VE_FORMS', 'PVH_INVL', 'PEDS',
       'PERNOTMVIT', 'PERMVIT', 'PERSONS', 'COUNTY', 'CITY', 'DAY', 'MONTH',
       'YEAR', 'DAY_WEEK', 'HOUR', 'MINUTE', 'NHS', 'RUR_URB', 'FUNC_SYS',
       'RD_OWNER', 'ROUTE', 'TWAY_ID', 'TWAY_ID2', 'MILEPT', 'LATITUDE',
       'LONGITUD', 'SP_JUR', 'HARM_EV', 'MAN_COLL', 'RELJCT1', 'RELJCT2',
       'TYP_INT', 'WRK_ZONE', 'REL_ROAD', 'LGT_COND', 'WEATHER1', 'WEATHER2',
       'WEATHER', 'SCH_BUS', 'RAIL', 'NOT_HOUR', 'NOT_MIN', 'ARR_HOUR',
       'ARR_MIN', 'HOSP_HR', 'HOSP_MN', 'CF1', 'CF2', 'CF3', 'FATALS',
       'DRUNK_DR'],
      dtype='object')

In [5]:
accident_data_2017.columns = ['STATE_NUMBER',
                        'CONSECUTIVE_NUMBER',
                        'NUMBER_OF_VEHICLE_FORMS_SUBMITTED_ALL',
                        'NUMBER_OF_MOTOR_VEHICLES_IN_TRANSPORT_MVIT',
                        'NUMBER_OF_PARKED_WORKING_VEHICLES',
                        'NUMBER_OF_FORMS_SUBMITTED_FOR_PERSONS_NOT_IN_MOTOR_VEHICLES',
                        'NUMBER_OF_PERSONS_NOT_IN_MOTOR_VEHICLES_IN_TRANSPORT_MVIT',
                        'NUMBER_OF_PERSONS_IN_MOTOR_VEHICLES_IN_TRANSPORT_MVIT',
                        'NUMBER_OF_FORMS_SUBMITTED_FOR_PERSONS_IN_MOTOR_VEHICLES',
                        'COUNTY','CITY',
                        'DAY_OF_CRASH',
                        'MONTH_OF_CRASH',
                        'YEAR_OF_CRASH',
                        'DAY_OF_WEEK',
                        'HOUR_OF_CRASH',
                        'MINUTE_OF_CRASH',
                        'NATIONAL_HIGHWAY_SYSTEM',
                        'LAND_USE',
                        'FUNCTIONAL_SYSTEM',
                        'OWNERSHIP',
                        'ROUTE_SIGNING',
                        'TRAFFICWAY_IDENTIFIER',
                        'TRAFFICWAY_IDENTIFIER_2',
                        'MILEPOINT',
                        'LATITUDE',
                        'LONGITUDE',
                        'SPECIAL_JURISDICTION',
                        'FIRST_HARMFUL_EVENT',
                        'MANNER_OF_COLLISION',
                        'RELATION_TO_JUNCTION_SPECIFIC_LOCATION1',
                        'RELATION_TO_JUNCTION_SPECIFIC_LOCATION2',
                        'TYPE_OF_INTERSECTION','WORK_ZONE',
                        'RELATION_TO_TRAFFICWAY',
                        'LIGHT_CONDITION',
                        'ATMOSPHERIC_CONDITIONS_1',
                        'ATMOSPHERIC_CONDITIONS_2',
                        'ATMOSPHERIC_CONDITIONS',
                        'SCHOOL_BUS_RELATED',
                        'RAIL_GRADE_CROSSING_IDENTIFIER',
                        'HOUR_OF_NOTIFICATION',
                        'MINUTE_OF_NOTIFICATION',
                        'HOUR_OF_ARRIVAL_AT_SCENE',
                        'MINUTE_OF_ARRIVAL_AT_SCENE',
                        'HOUR_OF_EMS_ARRIVAL_AT_HOSPITAL',
                        'MINUTE_OF_EMS_ARRIVAL_AT_HOSPITAL',
                        'RELATED_FACTORS_CRASH_LEVEL_1',
                        'RELATED_FACTORS_CRASH_LEVEL_2',
                        'RELATED_FACTORS_CRASH_LEVEL_3',
                        'NUMBER_OF_FATALITIES',
                        'NUMBER_OF_DRUNK_DRIVERS']

In [6]:
accident_data_2017.columns

Index(['STATE_NUMBER', 'CONSECUTIVE_NUMBER',
       'NUMBER_OF_VEHICLE_FORMS_SUBMITTED_ALL',
       'NUMBER_OF_MOTOR_VEHICLES_IN_TRANSPORT_MVIT',
       'NUMBER_OF_PARKED_WORKING_VEHICLES',
       'NUMBER_OF_FORMS_SUBMITTED_FOR_PERSONS_NOT_IN_MOTOR_VEHICLES',
       'NUMBER_OF_PERSONS_NOT_IN_MOTOR_VEHICLES_IN_TRANSPORT_MVIT',
       'NUMBER_OF_PERSONS_IN_MOTOR_VEHICLES_IN_TRANSPORT_MVIT',
       'NUMBER_OF_FORMS_SUBMITTED_FOR_PERSONS_IN_MOTOR_VEHICLES', 'COUNTY',
       'CITY', 'DAY_OF_CRASH', 'MONTH_OF_CRASH', 'YEAR_OF_CRASH',
       'DAY_OF_WEEK', 'HOUR_OF_CRASH', 'MINUTE_OF_CRASH',
       'NATIONAL_HIGHWAY_SYSTEM', 'LAND_USE', 'FUNCTIONAL_SYSTEM', 'OWNERSHIP',
       'ROUTE_SIGNING', 'TRAFFICWAY_IDENTIFIER', 'TRAFFICWAY_IDENTIFIER_2',
       'MILEPOINT', 'LATITUDE', 'LONGITUDE', 'SPECIAL_JURISDICTION',
       'FIRST_HARMFUL_EVENT', 'MANNER_OF_COLLISION',
       'RELATION_TO_JUNCTION_SPECIFIC_LOCATION1',
       'RELATION_TO_JUNCTION_SPECIFIC_LOCATION2', 'TYPE_OF_INTERSECTION',
       'WORK_ZONE', 'RELATION_TO_TRAFFICWAY', 'LIGHT_CONDITION',
       'ATMOSPHERIC_CONDITIONS_1', 'ATMOSPHERIC_CONDITIONS_2',
       'ATMOSPHERIC_CONDITIONS', 'SCHOOL_BUS_RELATED',
       'RAIL_GRADE_CROSSING_IDENTIFIER', 'HOUR_OF_NOTIFICATION',
       'MINUTE_OF_NOTIFICATION', 'HOUR_OF_ARRIVAL_AT_SCENE',
       'MINUTE_OF_ARRIVAL_AT_SCENE', 'HOUR_OF_EMS_ARRIVAL_AT_HOSPITAL',
       'MINUTE_OF_EMS_ARRIVAL_AT_HOSPITAL', 'RELATED_FACTORS_CRASH_LEVEL_1',
       'RELATED_FACTORS_CRASH_LEVEL_2', 'RELATED_FACTORS_CRASH_LEVEL_3',
       'NUMBER_OF_FATALITIES', 'NUMBER_OF_DRUNK_DRIVERS'],
      dtype='object')

In [7]:
accident_data_2017.head()

,STATE_NUMBER,CONSECUTIVE_NUMBER,NUMBER_OF_VEHICLE_FORMS_SUBMITTED_ALL,NUMBER_OF_MOTOR_VEHICLES_IN_TRANSPORT_MVIT,NUMBER_OF_PARKED_WORKING_VEHICLES,NUMBER_OF_FORMS_SUBMITTED_FOR_PERSONS_NOT_IN_MOTOR_VEHICLES,NUMBER_OF_PERSONS_NOT_IN_MOTOR_VEHICLES_IN_TRANSPORT_MVIT,NUMBER_OF_PERSONS_IN_MOTOR_VEHICLES_IN_TRANSPORT_MVIT,NUMBER_OF_FORMS_SUBMITTED_FOR_PERSONS_IN_MOTOR_VEHICLES,COUNTY,...,MINUTE_OF_NOTIFICATION,HOUR_OF_ARRIVAL_AT_SCENE,MINUTE_OF_ARRIVAL_AT_SCENE,HOUR_OF_EMS_ARRIVAL_AT_HOSPITAL,MINUTE_OF_EMS_ARRIVAL_AT_HOSPITAL,RELATED_FACTORS_CRASH_LEVEL_1,RELATED_FACTORS_CRASH_LEVEL_2,RELATED_FACTORS_CRASH_LEVEL_3,NUMBER_OF_FATALITIES,NUMBER_OF_DRUNK_DRIVERS
0,1,10001,1,1,0,0,0,1,1,73,...,99,99,99,88,88,0,0,0,1,0
1,1,10002,1,1,0,0,0,1,1,89,...,0,15,9,88,88,0,0,0,1,0
2,1,10003,3,3,0,0,0,3,3,101,...,99,99,99,88,88,0,0,0,1,0
3,1,10004,1,1,0,0,0,1,1,73,...,99,16,58,88,88,20,0,0,1,0
4,1,10005,1,1,0,0,0,2,2,13,...,17,20,31,21,11,0,0,0,1,0

In [8]:
print(accident_data_2017.isnull().any().any())
print(accident_data_2017.isnull().any().sum())
print(accident_data_2017.isnull().sum())
print(accident_data_2017['TRAFFICWAY_IDENTIFIER_2'].isnull().any().sum())
print(accident_data_2017['TRAFFICWAY_IDENTIFIER_2'].isnull().sum())
print(accident_data_2017['TRAFFICWAY_IDENTIFIER_2'].value_counts())

True
1
STATE_NUMBER                                                       0
CONSECUTIVE_NUMBER                                                 0
NUMBER_OF_VEHICLE_FORMS_SUBMITTED_ALL                              0
NUMBER_OF_MOTOR_VEHICLES_IN_TRANSPORT_MVIT                         0
NUMBER_OF_PARKED_WORKING_VEHICLES                                  0
NUMBER_OF_FORMS_SUBMITTED_FOR_PERSONS_NOT_IN_MOTOR_VEHICLES        0
NUMBER_OF_PERSONS_NOT_IN_MOTOR_VEHICLES_IN_TRANSPORT_MVIT          0
NUMBER_OF_PERSONS_IN_MOTOR_VEHICLES_IN_TRANSPORT_MVIT              0
NUMBER_OF_FORMS_SUBMITTED_FOR_PERSONS_IN_MOTOR_VEHICLES            0
COUNTY                                                             0
CITY                                                               0
DAY_OF_CRASH                                                       0
MONTH_OF_CRASH                                                     0
YEAR_OF_CRASH                                                      0
DAY_OF_WEEK                                                        0
HOUR_OF_CRASH                                                      0
MINUTE_OF_CRASH                                                    0
NATIONAL_HIGHWAY_SYSTEM                                            0
LAND_USE                                                           0
FUNCTIONAL_SYSTEM                                                  0
OWNERSHIP                                                          0
ROUTE_SIGNING                                                      0
TRAFFICWAY_IDENTIFIER                                              0
TRAFFICWAY_IDENTIFIER_2                                        25102
MILEPOINT                                                          0
LATITUDE                                                           0
LONGITUDE                                                          0
SPECIAL_JURISDICTION                                               0
FIRST_HARMFUL_EVENT                                                0
MANNER_OF_COLLISION                                                0
RELATION_TO_JUNCTION_SPECIFIC_LOCATION1                            0
RELATION_TO_JUNCTION_SPECIFIC_LOCATION2                            0
TYPE_OF_INTERSECTION                                               0
WORK_ZONE                                                          0
RELATION_TO_TRAFFICWAY                                             0
LIGHT_CONDITION                                                    0
ATMOSPHERIC_CONDITIONS_1                                           0
ATMOSPHERIC_CONDITIONS_2                                           0
ATMOSPHERIC_CONDITIONS                                             0
SCHOOL_BUS_RELATED                                                 0
RAIL_GRADE_CROSSING_IDENTIFIER                                     0
HOUR_OF_NOTIFICATION                                               0
MINUTE_OF_NOTIFICATION                                             0
HOUR_OF_ARRIVAL_AT_SCENE                                           0
MINUTE_OF_ARRIVAL_AT_SCENE                                         0
HOUR_OF_EMS_ARRIVAL_AT_HOSPITAL                                    0
MINUTE_OF_EMS_ARRIVAL_AT_HOSPITAL                                  0
RELATED_FACTORS_CRASH_LEVEL_1                                      0
RELATED_FACTORS_CRASH_LEVEL_2                                      0
RELATED_FACTORS_CRASH_LEVEL_3                                      0
NUMBER_OF_FATALITIES                                               0
NUMBER_OF_DRUNK_DRIVERS                                            0
dtype: int64
1
25102
MAIN ST                27
CENTRAL AVE            13
7TH ST                 13
PARK AVE               10
10TH ST                10
4TH AVE                 9
15TH ST                 9
WASHINGTON ST           9
6TH ST                  9
13TH ST                 9
29TH ST                 9
3RD ST                  9
CR-300                  8
20TH ST                 8
COUNTY LINE RD          8
AIRPORT RD              8
SR-35                   7
SR-19                   7
PALM AVE                7
16TH ST                 7
9TH ST                  7
5TH ST                  7
CENTER ST               7
WALNUT ST               7
22ND ST                 6
24TH AVE                6
SR-7                    6
23RD ST                 6
CR-500                  6
34TH ST                 6
                       ..
ORME AVE                1
TR-88 BEECH RD          1
MU-1332                 1
TIMBERLINE AVE          1
WESTMORE RD             1
JESS RANCH PKWY         1
CST-NORTHWOOD DR        1
OAKWOOD AVE             1
SOUTH FRONTAGE ROAD     1
LAKIN DR                1
SECOND CROWN POINT      1
PETROLEUM AVE           1
MASTERS LANE            1
EDGAR ST                1
RUNNYMEADE DR           1
SR-400                  1
CR-4974                 1
ALDEN DR                1
ECLIPSE DR              1
GRANDE VALENCIA TRL     1
COURTNEY CREEK BLVD     1
CR-FOWLER CIRCLE        1
ROCKY RIVER RD          1
KRAEMER BL              1
CR-O AVENUE             1
FARMERS PLACE           1
MCGIRR RD               1
145TH ST                1
CR-1833                 1
NATURE TRL              1
Name: TRAFFICWAY_IDENTIFIER_2, Length: 7869, dtype: int64

In [9]:
print(accident_data_2017['TRAFFICWAY_IDENTIFIER_2'].head(15))

0                NaN
1                NaN
2     CHANTILLY PKWY
3              AVE I
4                NaN
5                NaN
6                NaN
7                NaN
8                NaN
9                NaN
10               NaN
11               NaN
12       PINEDALE RD
13            CR-598
14               NaN
Name: TRAFFICWAY_IDENTIFIER_2, dtype: object

In [10]:
accident_data_2017['STATE_NUMBER'].value_counts().count()

51

In [12]:
#Sort Values 
accident_data_2017 = accident_data_2017.sort_values(by=['STATE_NUMBER','CONSECUTIVE_NUMBER'])

# Creating DataFrames based on crash elements data

xls = pd.ExcelFile('Crash_Elements.xlsx')
df_state_names = pd.read_excel(xls, 'FRPP_GLC_UnitedStates')
df_land_use = pd.read_excel(xls, 'land_use')
df_func_sys = pd.read_excel(xls, 'functional_system')
df_ownership = pd.read_excel(xls, 'ownership')
df_route_signing = pd.read_excel(xls, 'route_signing')
df_special_jury = pd.read_excel(xls, 'special_jurisdiction')
df_first_harmful_event = pd.read_excel(xls, 'first_harmful_event')
df_manner_of_collision = pd.read_excel(xls, 'manner_of_collision')
df_junction_loc = pd.read_excel(xls, 'junction_specific_location')
df_intersection = pd.read_excel(xls, 'type_of_intersection')
df_work_zone = pd.read_excel(xls, 'work_zone')

In [13]:
print(df_state_names.shape)
print(df_state_names.dtypes)
df_state_names.columns = ['STATE_NAME','STATE_NUMBER']
df_state_names.head(10)

(51, 2)
State_Name    object
State_Code     int64
dtype: object

             STATE_NAME  STATE_NUMBER
0               ALABAMA             1
1                ALASKA             2
2               ARIZONA             4
3              ARKANSAS             5
4            CALIFORNIA             6
5              COLORADO             8
6           CONNECTICUT             9
7              DELAWARE            10
8  DISTRICT OF COLUMBIA            11
9               FLORIDA            12

In [14]:
df_new = pd.merge(accident_data_2017, df_state_names, on='STATE_NUMBER')
df_new.STATE_NAME.unique()
# df_new.to_csv('State_Names_Added.xlsx')

array(['ALABAMA', 'ALASKA', 'ARIZONA', 'ARKANSAS', 'CALIFORNIA',
       'COLORADO', 'CONNECTICUT', 'DELAWARE', 'DISTRICT OF COLUMBIA',
       'FLORIDA', 'GEORGIA', 'HAWAII', 'IDAHO', 'ILLINOIS', 'INDIANA',
       'IOWA', 'KANSAS', 'KENTUCKY', 'LOUISIANA', 'MAINE', 'MARYLAND',
       'MASSACHUSETTS', 'MICHIGAN', 'MINNESOTA', 'MISSISSIPPI',
       'MISSOURI', 'MONTANA', 'NEBRASKA', 'NEVADA', 'NEW HAMPSHIRE',
       'NEW JERSEY', 'NEW MEXICO', 'NEW YORK', 'NORTH CAROLINA',
       'NORTH DAKOTA', 'OHIO', 'OKLAHOMA', 'OREGON', 'PENNSYLVANIA',
       'RHODE ISLAND', 'SOUTH CAROLINA', 'SOUTH DAKOTA', 'TENNESSEE',
       'TEXAS', 'UTAH', 'VERMONT', 'VIRGINIA', 'WASHINGTON',
       'WEST VIRGINIA', 'WISCONSIN', 'WYOMING'], dtype=object)

In [15]:
#Format Conversion
# df_land_use['LAND_USE'] = df_land_use['LAND_USE'].astype('int64')
print(df_land_use.dtypes)
#Merge Data
df_new_2 = pd.merge(df_new, df_land_use, on='LAND_USE')
df_new_2.LAND_USE_NAME.unique()

LAND_USE          int64
LAND_USE_NAME    object
dtype: object

array(['Urban', 'Rural', 'Unknown', 'Not Reported',
       'Trafficway Not in State Inventory'], dtype=object)

In [16]:
#Format conversion
df_func_sys['FUNCTIONAL_SYSTEM'] = df_func_sys['FUNCTIONAL_SYSTEM'].astype('int64')
print(df_func_sys.dtypes)
df_new_3 = pd.merge(df_new_2, df_func_sys, on='FUNCTIONAL_SYSTEM')
df_new_3.FUNCTIONAL_SYSTEM_NAME.unique()

FUNCTIONAL_SYSTEM          int64
FUNCTIONAL_SYSTEM_NAME    object
dtype: object

array(['Interstate', 'Minor Arterial', 'Major Collector',
       'Principal Arterial â€“ Other', 'Local',
       'Principal Arterial â€“ Other Freeways and Expressways',
       'Minor Collector', 'Not Reported', 'Unknown',
       'Trafficway Not in State Inventory'], dtype=object)

In [17]:
#Format conversion
df_ownership['OWNERSHIP'] = df_ownership['OWNERSHIP'].astype('int64')
print(df_ownership.dtypes)
#Merge
df_new_4 = pd.merge(df_new_3, df_ownership, on='OWNERSHIP')
df_new_4.OWNERSHIP_NAME.unique()

OWNERSHIP          int64
OWNERSHIP_NAME    object
dtype: object

array(['State Highway Agency', 'State Toll Road',
       'City or Municipal Highway Agency', 'County Highway Agency',
       'Not Reported', 'Bureau of Indian Affairs', 'Other Federal Agency',
       'Town or Township Highway Agency', 'National Park Service',
       'State Park, Forest or Reservation Agency', 'Unknown', 'Army',
       'Railroad', 'U.S. Forest Service', 'Indian Tribe Nation',
       'Other State Agency', 'Private (other than Railroad)',
       'Local Toll Authority', 'Other Local Agency',
       'Other Public Instrumentality (i.e., Airport)',
       'Bureau of Land Management',
       'Local Park, Forest or Reservation Agency',
       'Bureau of Fish and Wildlife', 'Trafficway Not in State Inventory'],
      dtype=object)

In [18]:
#Format conversion
df_route_signing['ROUTE_SIGNING'] = df_route_signing['ROUTE_SIGNING'].astype('int64')
print(df_route_signing.dtypes)
#Merge
df_new_5 = pd.merge(df_new_4, df_route_signing, on='ROUTE_SIGNING')
df_new_5.ROUTE_SIGNING_NAME.unique()

ROUTE_SIGNING          int64
ROUTE_SIGNING_NAME    object
dtype: object

array(['Interstate', 'U.S. Highway', 'State Highway',
       'Local Street - Frontage Road', 'County Road',
       'Local Street - Municipality', 'Other', 'Local Street - Township',
       'Unknown'], dtype=object)

In [19]:
# SPECIAL_JURISDICTION
#Format conversion
df_special_jury['SPECIAL_JURISDICTION'] = df_special_jury['SPECIAL_JURISDICTION'].astype('int64')
print(df_special_jury.dtypes)
#Merge
df_new_6 = pd.merge(df_new_5, df_special_jury, on='SPECIAL_JURISDICTION')
df_new_6.SPECIAL_JURISDICTION_NAME.unique()


# FIRST_HARMFUL_EVENT
#Format conversion
df_first_harmful_event['FIRST_HARMFUL_EVENT'] = df_first_harmful_event['FIRST_HARMFUL_EVENT'].astype('int64')
print(df_first_harmful_event.dtypes)
#Merge
df_new_7 = pd.merge(df_new_6, df_first_harmful_event, on='FIRST_HARMFUL_EVENT')
df_new_7.FIRST_HARMFUL_EVENT_NAME.unique()
df_new_7.FIRST_HARMFUL_EVENT_TYPE.unique()


# MANNER_OF_COLLISION
#Format conversion
df_manner_of_collision['MANNER_OF_COLLISION'] = df_manner_of_collision['MANNER_OF_COLLISION'].astype('int64')
print(df_manner_of_collision.dtypes)
#Merge
df_new_8 = pd.merge(df_new_7, df_manner_of_collision, on='MANNER_OF_COLLISION')
df_new_8.MANNER_OF_COLLISION_NAME.unique()

SPECIAL_JURISDICTION          int64
SPECIAL_JURISDICTION_NAME    object
dtype: object
FIRST_HARMFUL_EVENT          int64
FIRST_HARMFUL_EVENT_NAME    object
FIRST_HARMFUL_EVENT_TYPE    object
dtype: object
MANNER_OF_COLLISION          int64
MANNER_OF_COLLISION_NAME    object
dtype: object

array(['Not a Collision with a Motor Vehicle In-Transport', 'Other',
       'Front-to-Rear', 'Front-to-Front', 'Sideswipe-Same Direction',
       'Angle', 'Unknown', 'Rear-to-Side', 'Not Reported',
       'Sideswipe-Opposite Direction', 'Rear-to-Rear'], dtype=object)

In [20]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [52]:
basket = (df_new[df_new['STATE_NAME'] =="CALIFORNIA"]
          .groupby(['MANNER_OF_COLLISION', 'FIRST_HARMFUL_EVENT'])['SPECIAL_JURISDICTION']
          .sum().unstack().reset_index().fillna(0)
          .set_index('MANNER_OF_COLLISION'))

In [53]:
basket.head()

FIRST_HARMFUL_EVENT,1,2,3,5,7,8,9,10,11,12,...,45,46,49,50,52,53,54,58,59,93
MANNER_OF_COLLISION,,,,,,,,,,,,,,,,,,,,,
0,13.0,0.0,0.0,0.0,0.0,13.0,19.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
basket.iloc[:,[0,1,2,3,4,5,6,7]].head()

FIRST_HARMFUL_EVENT    1    2    3    5    7     8     9    10
MANNER_OF_COLLISION
0                    13.0  0.0  0.0  0.0  0.0  13.0  19.0  0.0
1                     0.0  0.0  0.0  0.0  0.0   0.0   0.0  0.0
2                     0.0  0.0  0.0  0.0  0.0   0.0   0.0  0.0
6                     0.0  0.0  0.0  0.0  0.0   0.0   0.0  0.0
7                     0.0  0.0  0.0  0.0  0.0   0.0   0.0  0.0

In [55]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

In [56]:
basket_sets = basket.applymap(encode_units)

In [57]:
basket_sets.head()

FIRST_HARMFUL_EVENT,1,2,3,5,7,8,9,10,11,12,...,45,46,49,50,52,53,54,58,59,93
MANNER_OF_COLLISION,,,,,,,,,,,,,,,,,,,,,
0,1,0,0,0,0,1,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True)

In [59]:
frequent_itemsets.head()

    support itemsets
0  0.111111      (1)
1  0.111111      (8)
2  0.111111      (9)
3  0.111111     (12)
4  0.111111     (17)

In [60]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)

In [35]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(1),(2),0.555556,0.555556,0.555556,1.000000,1.800000,0.246914,inf
1,(2),(1),0.555556,0.555556,0.555556,1.000000,1.800000,0.246914,inf
2,(1),(3),0.555556,0.555556,0.555556,1.000000,1.800000,0.246914,inf
3,(3),(1),0.555556,0.555556,0.555556,1.000000,1.800000,0.246914,inf
4,(1),(4),0.555556,0.555556,0.555556,1.000000,1.800000,0.246914,inf
5,(4),(1),0.555556,0.555556,0.555556,1.000000,1.800000,0.246914,inf
6,(1),(5),0.555556,0.444444,0.444444,0.800000,1.800000,0.197531,2.777778
7,(5),(1),0.444444,0.555556,0.444444,1.000000,1.800000,0.197531,inf
8,(1),(6),0.555556,0.777778,0.555556,1.000000,1.285714,0.123457,inf
9,(6),(1),0.777778,0.555556,0.555556,0.714286,1.285714,0.123457,1.555556
10,(1),(7),0.555556,0.666667,0.555556,1.000000,1.500000,0.185185,inf
11,(7),(1),0.666667,0.555556,0.555556,0.833333,1.500000,0.185185,2.666667
12,(8),(1),0.666667,0.555556,0.555556,0.833333,1.500000,0.185185,2.666667
13,(1),(8),0.555556,0.666667,0.555556,1.000000,1.500000,0.185185,inf
14,(1),(9),0.555556,0.444444,0.444444,0.800000,1.800000,0.197531,2.777778
15,(9),(1),0.444444,0.555556,0.444444,1.000000,1.800000,0.197531,inf
16,(1),(10),0.555556,0.666667,0.555556,1.000000,1.500000,0.185185,inf
17,(10),(1),0.666667,0.555556,0.555556,0.833333,1.500000,0.185185,2.666667
18,(1),(11),0.555556,0.555556,0.444444,0.800000,1.440000,0.135802,2.222222
19,(11),(1),0.555556,0.555556,0.444444,0.800000,1.440000,0.135802,2.222222
20,(1),(12),0.555556,0.555556,0.444444,0.800000,1.440000,0.135802,2.222222
21,(12),(1),0.555556,0.555556,0.444444,0.800000,1.440000,0.135802,2.222222
22,(2),(3),0.555556,0.555556,0.555556,1.000000,1.800000,0.246914,inf
23,(3),(2),0.555556,0.555556,0.555556,1.000000,1.800000,0.246914,inf
24,(2),(4),0.555556,0.555556,0.555556,1.000000,1.800000,0.246914,inf
25,(4),(2),0.555556,0.555556,0.555556,1.000000,1.800000,0.246914,inf
26,(2),(5),0.555556,0.444444,0.444444,0.800000,1.800000,0.197531,2.777778
27,(5),(2),0.444444,0.555556,0.444444,1.000000,1.800000,0.197531,inf
28,(2),(6),0.555556,0.777778,0.555556,1.000000,1.285714,0.123457,inf
29,(6),(2),0.777778,0.555556,0.555556,0.714286,1.285714,0.123457,1.555556
...,...,...,...,...,...,...,...,...,...
523220,"(10, 6)","(1, 2, 3, 4, 5, 7, 8, 9, 11, 12)",0.555556,0.333333,0.333333,0.600000,1.800000,0.148148,1.666667
523221,"(11, 6)","(1, 2, 3, 4, 5, 7, 8, 9, 10, 12)",0.555556,0.333333,0.333333,0.600000,1.800000,0.148148,1.666667
523222,"(12, 6)","(1, 2, 3, 4, 5, 7, 8, 9, 10, 11)",0.555556,0.333333,0.333333,0.600000,1.800000,0.148148,1.666667
523223,"(8, 7)","(1, 2, 3, 4, 5, 6, 9, 10, 11, 12)",0.555556,0.333333,0.333333,0.600000,1.800000,0.148148,1.666667
523224,"(9, 7)","(1, 2, 3, 4, 5, 6, 8, 10, 11, 12)",0.444444,0.444444,0.333333,0.750000,1.687500,0.135802,2.222222
523225,"(10, 7)","(1, 2, 3, 4, 5, 6, 8, 9, 11, 12)",0.555556,0.333333,0.333333,0.600000,1.800000,0.148148,1.666667
523226,"(11, 7)","(1, 2, 3, 4, 5, 6, 8, 9, 10, 12)",0.444444,0.333333,0.333333,0.750000,2.250000,0.185185,2.666667
523227,"(12, 7)","(1, 2, 3, 4, 5, 6, 8, 9, 10, 11)",0.444444,0.333333,0.333333,0.750000,2.250000,0.185185,2.666667
523228,"(8, 9)","(1, 2, 3, 4, 5, 6, 7, 10, 11, 12)",0.444444,0.444444,0.333333,0.750000,1.687500,0.135802,2.222222
523229,"(8, 10)","(1, 2, 3, 4, 5, 6, 7, 9, 11, 12)",0.555556,0.333333,0.333333,0.600000,1.800000,0.148148,1.666667
523230,"(8, 11)","(1, 2, 3, 4, 5, 6, 7, 9, 10, 12)",0.444444,0.333333,0.333333,0.750000,2.250000,0.185185,2.666667
523231,"(8, 12)","(1, 2, 3, 4, 5, 6, 7, 9, 10, 11)",0.555556,0.333333,0.333333,0.600000,1.800000,0.148148,1.666667
523232,"(9, 10)","(1, 2, 3, 4, 5, 6, 7, 8, 11, 12)",0.444444,0.444444,0.333333,0.750000,1.687500,0.135802,2.222222
523233,"(9, 11)","(1, 2, 3, 4, 5, 6, 7, 8, 10, 12)",0.333333,0.444444,0.333333,1.000000,2.250000,0.185185,inf
523234,"(9, 12)","(1, 2, 3, 4, 5, 6, 7, 8, 10, 11)",0.333333,0.444444,0.333333,1.000000,2.250000,0.185185,inf
523235,"(10, 11)","(1, 2, 3, 4, 5, 6, 7, 8, 9, 12)",0.444444,0.333333,0.333333,0.750000,2.250000,0.185185,2.666667
523236,"(10, 12)","(1, 2, 3, 4, 5, 6, 7, 8, 9, 11)",0.444444,0.333333,0.333333,0.750000,2.250000,0.185185,2.666667
523237,"(11, 12)","(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)",0.444444,0.333333,0.333333,0.750000,2.250000,0.185185,2.666667
523238,(1),"(2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)",0.555556,0.333333,0.333333,0.600000,1.800000,0.148148,1.666667
523239,(2),"(1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)",0.555556,0.333333,0.333333,0.600000,1.800000,0.148148,1.666667
523240,(3),"(1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12)",0.555556,0.333333,0.333333,0.600000,1.800000,0.148148,1.666667
523241,(4),"(1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12)",0.555556,0.333333,0.333333,0.600000,1.800000,0.148148,1.666667
523242,(5),"(1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12)",0.444444,0.333333,0.333333,0.750000,2.250000,0.185185,2.666667
523243,(6),"(1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12)",0.777778,0.333333,0.333333,0.428571,1.285714,0.074074,1.166667
523244,(7),"(1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12)",0.666667,0.333333,0.333333,0.500000,1.500000,0.111111,1.333333
523245,(8),"(1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12)",0.666667,0.333333,0.333333,0.500000,1.500000,0.111111,1.333333
523246,(9),"(1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12)",0.444444,0.444444,0.333333,0.750000,1.687500,0.135802,2.222222
523247,(10),"(1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12)",0.666667,0.333333,0.333333,0.500000,1.500000,0.111111,1.333333
523248,(11),"(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12)",0.555556,0.333333,0.333333,0.600000,1.800000,0.148148,1.666667
523249,(12),"(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)",0.555556,0.333333,0.333333,0.600000,1.800000,0.148148,1.666667

In [61]:
rules[ (rules['lift'] >= 2) &
       (rules['confidence'] >= 0.7) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(8),(1),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
1,(1),(8),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
2,(1),(9),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
3,(9),(1),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
4,(1),(17),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
5,(17),(1),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
6,(24),(1),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
7,(1),(24),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
8,(1),(30),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
9,(30),(1),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
10,(1),(33),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
11,(33),(1),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
12,(1),(39),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
13,(39),(1),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
14,(1),(42),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
15,(42),(1),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
16,(1),(43),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
17,(43),(1),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
18,(1),(46),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
19,(46),(1),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
20,(1),(59),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
21,(59),(1),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
22,(8),(9),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
23,(9),(8),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
24,(8),(17),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
25,(17),(8),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
26,(24),(8),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
27,(8),(24),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
28,(8),(30),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
29,(30),(8),0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
...,...,...,...,...,...,...,...,...,...
523220,"(24, 42)","(1, 33, 39, 8, 9, 43, 46, 17, 59, 30)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523221,"(42, 59)","(1, 33, 39, 8, 9, 43, 46, 17, 24, 30)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523222,"(42, 30)","(1, 33, 39, 8, 9, 43, 46, 17, 24, 59)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523223,"(43, 46)","(1, 33, 39, 8, 9, 42, 17, 24, 59, 30)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523224,"(17, 43)","(1, 33, 39, 8, 9, 42, 46, 24, 59, 30)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523225,"(24, 43)","(1, 33, 39, 8, 9, 42, 46, 17, 59, 30)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523226,"(59, 43)","(1, 33, 39, 8, 9, 42, 46, 17, 24, 30)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523227,"(43, 30)","(1, 33, 39, 8, 9, 42, 46, 17, 24, 59)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523228,"(17, 46)","(1, 33, 39, 8, 9, 42, 43, 24, 59, 30)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523229,"(24, 46)","(1, 33, 39, 8, 9, 42, 43, 17, 59, 30)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523230,"(59, 46)","(1, 33, 39, 8, 9, 42, 43, 17, 24, 30)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523231,"(46, 30)","(1, 33, 39, 8, 9, 42, 43, 17, 24, 59)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523232,"(24, 17)","(1, 33, 39, 8, 9, 42, 43, 46, 59, 30)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523233,"(17, 59)","(1, 33, 39, 8, 9, 42, 43, 46, 24, 30)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523234,"(17, 30)","(1, 33, 39, 8, 9, 42, 43, 46, 24, 59)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523235,"(24, 59)","(1, 33, 39, 8, 9, 42, 43, 46, 17, 30)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523236,"(24, 30)","(1, 33, 39, 8, 9, 42, 43, 46, 17, 59)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523237,"(59, 30)","(1, 33, 39, 8, 9, 42, 43, 46, 17, 24)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523238,(1),"(33, 39, 8, 9, 42, 43, 46, 17, 24, 59, 30)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523239,(33),"(1, 39, 8, 9, 42, 43, 46, 17, 24, 59, 30)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523240,(39),"(1, 33, 8, 9, 42, 43, 46, 17, 24, 59, 30)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523241,(8),"(1, 33, 39, 9, 42, 43, 46, 17, 24, 59, 30)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523242,(9),"(1, 33, 39, 8, 42, 43, 46, 17, 24, 59, 30)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523243,(42),"(1, 33, 39, 8, 9, 43, 46, 17, 24, 59, 30)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523244,(43),"(1, 33, 39, 8, 9, 42, 46, 17, 24, 59, 30)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523245,(46),"(1, 33, 39, 8, 9, 42, 43, 17, 24, 59, 30)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523246,(17),"(1, 33, 39, 8, 9, 42, 43, 46, 24, 59, 30)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523247,(24),"(1, 33, 39, 8, 9, 42, 43, 46, 17, 59, 30)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523248,(59),"(1, 33, 39, 8, 9, 42, 43, 46, 17, 24, 30)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf
523249,(30),"(1, 33, 39, 8, 9, 42, 43, 46, 17, 24, 59)",0.111111,0.111111,0.111111,1.0,9.0,0.098765,inf